extends ../layout/main

block content
    .certificate.certificate__portrait.certificate__portrait_v1
        .certificate__wrapper
            +certHeader(false, true)
            +certBody()
            +certFooter()