extends ../layout/main

block content
    .certificate.certificate__portrait.certificate__portrait_v2
        .certificate__wrapper
            +certHeader()
            +certBody()
            +certFooter()