%antialias {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@mixin r($width) {
    @media only screen and (max-width: #{$width}px) {
        @content;
    }
}

@mixin rmin($width) {
    @media only screen and (min-width: #{$width}px) {
        @content;
    }
}

@mixin rIn($width, $width2) {
    @media (min-width: #{$width}px) and (max-width: #{$width2}px) {
        @content;
    }
}

@function vw($px-vw, $base-vw: 842px) {
    @return calc(calc($px-vw * 100vw) / $base-vw);
}

@function vh($height, $base-vh: 595px) {
    @return calc(calc($height/$base-vh * 100vh) * 1);
}