// Font
$font-family: "Jost", sans-serif;
$second-family: "Furore", sans-serif;

// Colors
$color-primary: #5bffda;
$color-white: #ffffff;
$color-dark: #101010;
$color-light: #d9d9d9;

// Shadows
$shadow-text: 0 4px 4px rgba(0, 0, 0, 0.25);