mixin certFooter()
    - var number = 'fkkc3u7298r382983e981h4y24y3822378278914gfy3';

    .certificate__footer 
        .certificate__footer-number
            | № #[span=number]
        .certificate__footer-code 
            img(src='img/qr-code.svg', alt='code')